<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <th:block th:include="fragments/sidebar/headerinc :: head"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="wrapper d-flex align-items-stretch">
    <nav id="sidebar">
        <div class="custom-menu">
            <button type="button" id="sidebarCollapse" class="btn btn-primary">
            </button>
        </div>

        <div class="img bg-wrap text-center py-4" style="background-image: url(sidebar/images/bg_1.jpg);">
            <div class="user-logo">
                <div class="img" style="background-image: url(sidebar/images/logo.jpg);"></div>
                <h3 sec:authentication="principal.username"></h3>
            </div>
        </div>
        <ul class="list-unstyled components mb-5">
            <li class="active">
                <a href="#"><span class="fa fa-pencil-alt mr-3"></span> Użytkownicy</a>
            </li>
            <li class="active">
                <a href="#"><span class="fa fa-pencil-alt mr-3"></span> Dodaj użytkownika</a>
            </li>
            <li class="active">
                <a href="#"><span class="fa fa-pencil-alt mr-3"></span> Usuń użytkownika</a>
            </li>
        </ul>
    </nav>
    <!-- Page Content  -->
    <div id="content" style="position: relative; background-color: #272c32; overflow: hidden">
        <div th:replace="admin/register.html :: registerUser"></div>
    </div>
</div>
</body>
<footer>
    <div th:replace="fragments/sidebar/footerinc :: footer"></div>
</footer>

</html>



