select
{
	position: absolute;
	width: 140px;
}

fieldset
{
/*	border: 1px solid #dddddd;*/
	margin: auto;
	text-align: center;
}

input
{
	border: 1px solid #e2e4e7;
	width: 126px;
	padding-left: 13px;
	text-align: left;
	outline: none;
}


::placeholder {
	color: #adadad;
	opacity: 1;
}

fieldset{
	display: block;
	margin: 0 auto;
}

#addRow-dialog{
	display: none;
}
#editRow-dialog{
	display: none;
}
#renameTable-dialog{
	display: none;
}

#addRow-fieldName{
	width: 180px;
	height: 32px;
	margin-top: 10px;
	margin-bottom: 1px;
	border: 1px solid #40464c;
}

#editRow-fieldName{
	width: 180px;
	height: 32px;
	margin-top: 10px;
	margin-bottom: 1px;
	border: 1px solid #40464c;
}

#addRow-fieldType{
	width: 180px;
	margin-top: 10px;
}

#editRow-fieldType{
	width: 180px;
	margin-top: 10px;
}

#renameTableCaption{
	border: 1px solid #40464c;
}

/* slider */
.slider {
	width: 80px;
	height: 26px;
	background: #333;
	/*margin: 20px auto;*/
	margin-left: 35px;
	position: absolute;
	border-radius: 50px;
	box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.2);
}
.slider:after {
	content: 'OFF';
	color: #000;
	position: absolute;
	right: 10px;
	bottom: 0px;
	z-index: 0;
	font: 12px/26px Arial, sans-serif;
	font-weight: bold;
	text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.15);
}
.slider:before {
	content: 'ON';
	color: #3bb100;
	position: absolute;
	left: 10px;
	top: 1px;
	z-index: 0;
	font: 12px/26px Arial, sans-serif;
	font-weight: bold;
}
.slider label {
	display: block;
	width: 34px;
	height: 20px;
	cursor: pointer;
	position: absolute;
	top: 3px;
	left: 3px;
	z-index: 1;
	background: #fcfff4;
	background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	border-radius: 50px;
	transition: all 0.4s ease;
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
}
.slider input[type=checkbox] {
	visibility: hidden;
}
.slider input[type=checkbox]:checked + label {
	left: 43px;
}
/* end slider */
