<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <th:block th:include="fragments/sidebar/headerinc :: head"/>
</head>
<body>
<div class="wrapper d-flex align-items-stretch">
    <nav id="sidebar">
        <div class="custom-menu">
            <button type="button" id="sidebarCollapse" class="btn btn-primary" onclick="refreshCanvas()">
            </button>
        </div>

        <div class="img bg-wrap text-center py-4" style="background-image: url(sidebar/images/bg_1.jpg);">
            <div class="user-logo">
                <div class="img" style="background-image: url(sidebar/images/logo.jpg);"></div>
                <h3 sec:authentication="principal.username"></h3>
            </div>
        </div>
        <ul class="list-unstyled components mb-5">
            <li >
                <a href="/drawdiagram"><span class="fa fa-pencil-alt mr-3"></span> Rysuj diagram</a>
            </li>
            <li>
                <a href="#"><span class="fa fa-database mr-3"></span> Menedżer baz danych</a>
            </li>
            <li class="active">
                <a href="/interpreterSQL"><span class="fa fa-terminal mr-3"></span> Interpreter SQL</a>
            </li>
            <li>
                <a href="#"><span class="fa fa-question-circle mr-3"></span> FAQ</a>
            </li>
            <li>
                <a th:href="@{/logout}"><span class="fa fa-sign-out-alt mr-3"></span> Wyloguj</a>
            </li>

        </ul>
    </nav>
    <!-- Page Content  -->
    <div id="content" style="position: relative; background-color: #272c32; overflow: hidden">

        <button type="submit" onclick="executeSQL('interpreterSQL')"   style="position: absolute;
    top: 193px;
    left: 27px;
    padding-top: 3px;
    color: #ecea8e;
    background: #32373d;
    border-color: #32373d;
    border-radius: 10px;">
            <i class="fas fa-bolt"></i>
        </button>
        <textarea id="interpreterSQL" placeholder="❔❔❔" style="position: relative;
    width: calc(100% - 60px);
    height: 50%;
    left: 60px;
    top: 60px;


    background: #1a1f25;
	color: white;
	border: 2px solid;
	border-color: #373d44;



}"></textarea>

    </div>
</div>
</body>
<footer>
    <th:block th:include="fragments/sidebar/footerinc :: footer"/>
</footer>

</html>