<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <footer th:fragment="footer">
        <script type="text/javascript" src="/static/diagramER/popupWindow.js"></script>
        <script type="text/javascript" src="/static/diagramER/gridManagement.js"></script>
        <script type="text/javascript" src="/static/diagramER/textareaManagement.js"></script>
        <script type="text/javascript" src="/static/diagramER/PKNNSecurity.js"></script>
        <script type="text/javascript" src="/static/diagramER/diagramER.js"></script>
    </footer>
</html>