html
{
	height: 100%;
	width: 100%;
}

body
{
	font-family: 'Courgette', cursive;
	margin: 0px;
	color: white;
}

select
{
	position: absolute;
	width: 140px;
}

fieldset
{
	border: 1px solid #dddddd;
	margin: auto;
	text-align: center;
}

input
{
	border: 1px solid #e2e4e7;
	width: 126px;
	padding-left: 13px;
	text-align: left;
	outline: none;
}

::selection
{
	background-color: #cfcfcf;
}

::-moz-selection
{
	background-color: #cfcfcf;
}

::placeholder {
	color: #adadad;
	opacity: 1;
}

fieldset{
	display: block;
	margin: 0 auto;
}

#addRow-dialog{
	display: none;

}
#editRow-dialog{
	display: none;
}
#renameTable-dialog{
	display: none;
}

hr
{
	border-width: 0px;
	height: 1px;
	background-image: -webkit-linear-gradient(left, rgba(226,228,231,0), rgba(226,228,231,1), rgba(226,228,231,0));
	background-image: -moz-linear-gradient(left, rgba(226,228,231,0), rgba(226,228,231,1), rgba(226,228,231,0));
	background-image: -ms-linear-gradient(left, rgba(226,228,231,0), rgba(226,228,231,1), rgba(226,228,231,0));
	background-image: -o-linear-gradient(left, rgba(226,228,231,0), rgba(226,228,231,1), rgba(226,228,231,0));
}