<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>MindFusion JsDiagram Sample - Database Design</title>
	<link href="/static/diagramER/common/jquery-ui.min.css" rel="stylesheet" />
	<link href="/static/diagramER/common/samples.css" rel="stylesheet" />
	<script type="text/javascript" src="/static/diagramER/common/jquery.min.js"></script>
	<script type="text/javascript" src="/static/diagramER/common/jquery-ui.min.js"></script>
	<script type="text/javascript" src="/static/diagramER/common/samples.js"></script>
</head>
<body>
	<div id="content" >
		<!-- The Diagram component is bound to the canvas element below -->
		<div style="position: absolute; overflow: auto;">
			<canvas id="diagram">
				This page requires a browser that supports HTML 5 Canvas element.
			</canvas>
		</div>
	</div>
	<div id="controls" style="position: absolute; bottom: 24px; height: 150px; left: 0;
		right: 401px;">
		<input type="button" id="btnAddRow" value="Add row" style="margin-left: 5px; margin-bottom: 2px;" />
		<input type="button" id="btnEditRow" value="Edit row" style="margin-left: 5px; margin-bottom: 2px;" />
		<input type="button" id="btnDeleteRow" value="Delete row" style="margin-left: 5px;
			margin-bottom: 2px;" />
		<input type="button" id="btnInfo" value="Connection info" style="margin-left: 5px;" />
		<input type="button" id="btnCreateTable" value="Create table" style="margin-left: 5px;
			margin-bottom: 2px;" />
		<input type="button" id="btnRenameTable" value="Rename table" style="margin-left: 5px;
			margin-bottom: 2px;" />
		<input type="button" id="btnDeleteTable" value="Delete table" style="margin-left: 5px;
			margin-bottom: 2px;" />
		<textarea id="generatedSql" style="height: 120px; width: 100%; bottom: 0px; left: 0px;
			right: 0px; top: 30px;"></textarea>
	</div>
	<div id="addRow-dialog" title="New Field">
		<form>
		<fieldset>
			<label for="addRow-fieldName">
				Field name</label>
			<input type="text" id="addRow-fieldName" value="" class="text ui-widget-content ui-corner-all" />
			<label for="addRow-fieldType">
				Field type</label>
			<select id="addRow-fieldType">
				<option>NUMBER</option>
				<option>CHAR(32)</option>
				<option>DATE</option>
				<option>VARCHAR</option>
				<option>BLOB</option>
			</select>
		</fieldset>
		</form>
	</div>
	<div id="editRow-dialog" title="Edit Field">
		<form>
		<fieldset>
			<label for="editRow-fieldName">
				Field name</label>
			<input type="text" id="editRow-fieldName" value="" class="text ui-widget-content ui-corner-all" />
			<label for="editRow-fieldType">
				Field type</label>
			<select id="editRow-fieldType">
				<option>NUMBER</option>
				<option>CHAR(32)</option>
				<option>DATE</option>
				<option>VARCHAR</option>
				<option>BLOB</option>
			</select>
		</fieldset>
		</form>
	</div>
	<div id="renameTable-dialog" title="Rename Table">
		<form>
		<fieldset>
			<label for="renameTableCaption">
				Table name</label>
			<input type="text" id="renameTableCaption" value="" class="text ui-widget-content ui-corner-all" />
		</fieldset>
		</form>
	</div>
	<div id="info-dialog" title="Connection Info">
		<p>
		</p>
	</div>
	<script src="/static/diagramER/MindFusion.Common.js" type="text/javascript"></script>
	<script src="/static/diagramER/MindFusion.Diagramming.js" type="text/javascript"></script>
	<script src="/static/diagramER/DBDesign.js" type="text/javascript"></script>
</body>
</html>
