<!doctype html>
<head>
	<title>MindFusion JsDiagram Sample - Database Design</title>
	<link href="diagramER/common/jquery-ui.min.css" rel="stylesheet" />
	<link href="diagramER/common/samples.css" rel="stylesheet" />
	<script type="text/javascript" src="diagramER/common/jquery.min.js"></script>
	<script type="text/javascript" src="diagramER/common/jquery-ui.min.js"></script>
	<script type="text/javascript" src="diagramER/common/samples.js"></script>

	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
	<link href="https://fonts.googleapis.com/css?family=Courgette&display=swap" rel="stylesheet">
</head>
<body>
	<div id="content" >
		<!-- The Diagram component is bound to the canvas element below -->
		<div style="position: absolute; overflow: auto;">
			<canvas id="diagram">
				This page requires a browser that supports HTML 5 Canvas element.
			</canvas>
		</div>
	</div>
	<div id="controls" style="position: absolute; bottom: 24px; left: 0;
		right: 401px;">
		<button class="fas fa-undo" onclick="onUndo()" style="margin-left: 5px; margin-bottom: 2px;">Undo</button>
		<button class="fas fa-redo" onclick="onRedo()" style="margin-left: 5px; margin-bottom: 2px;">Redo</button>
		<button class="fas fa-table" id="btnCreateTable" style="margin-left: 5px; margin-bottom: 2px;">Add table</button>
		<button class="fas fa-edit" id="btnRenameTable" style="margin-left: 5px; margin-bottom: 2px;">Rename table</button>
		<button class="fas fa-trash-alt" id="btnDeleteTable" style="margin-left: 5px;margin-bottom: 2px;">Delete table</button>
		<button class="fas fa-plus" id="btnAddRow" style="margin-left: 5px; margin-bottom: 2px;">Add row</button>
		<button class="fas fa-pen-square" id="btnEditRow" style="margin-left: 5px; margin-bottom: 2px;">Edit row</button>
		<button class="fas fa-minus" id="btnDeleteRow" style="margin-left: 5px; margin-bottom: 2px;">Delete row</button>
		<button class="fas fa-sitemap" id="btnInfo" style="margin-left: 5px;">Connection info</button>
		<textarea id="generatedSql" style="height: 120px; width: 100%; bottom: 0px; left: 0px; right: 0px; top: 30px;"></textarea>

	</div>
	<div id="addRow-dialog" title="Dodanie nowego pola">
		<form>
		<fieldset>
			<input type="text" id="addRow-fieldName" placeholder="nazwa pola" class="text ui-widget-content ui-corner-all"  />
			<select id="addRow-fieldType">
				<option>NUMBER</option>
				<option>CHAR(32)</option>
				<option>DATE</option>
				<option>VARCHAR</option>
				<option>BLOB</option>
			</select>
		</fieldset>
		</form>
	</div>
	<div id="editRow-dialog" title="Zmiana nazwy pola">
		<form>
		<fieldset>
			<input type="text" id="editRow-fieldName" placeholder="nazwa pola" class="text ui-widget-content ui-corner-all" />
			<select id="editRow-fieldType">
				<option>NUMBER</option>
				<option>CHAR(32)</option>
				<option>DATE</option>
				<option>VARCHAR</option>
				<option>BLOB</option>
			</select>
		</fieldset>
		</form>
	</div>
	<div id="renameTable-dialog" title="Zmiana nazwy tabeli">
		<form>
		<fieldset>
			<input type="text" id="renameTableCaption" placeholder="nazwa tabeli" class="text ui-widget-content ui-corner-all" />
		</fieldset>
		</form>
	</div>
	<div id="info-dialog" title="Connection Info">
		<p>
		</p>
	</div>
	<script src="diagramER/MindFusion.Common.js" type="text/javascript"></script>
	<script src="diagramER/MindFusion.Diagramming.js" type="text/javascript"></script>
	<script src="diagramER/DBDesign.js" type="text/javascript"></script>
</body>
</html>
