<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div th:fragment="diagram">
    <th:block th:include="fragments/diagramER/headerinc :: head"/>


    <!-- The Overview component is bound to the canvas element below -->
    <div id="justdraw">
        <!-- The Diagram component is bound to the canvas element below -->
        <div id="ruler" style="position: relative; width: 100%; height: 100%; overflow-y: hidden;">
            <div id="canvas">
                <canvas id="diagram" width="2100" height="2100">
                    This page requires a browser that supports HTML 5 Canvas element.
                </canvas>
            </div>
        </div>
    </div>


    <div id="justdrawOptions" style="position: relative;">
        <div style="position: relative; width: 200px; height: 200px; border: 1px solid #ffffff; background-color: #c0c0c0; float: left; z-index: 10">
            <canvas id="overview" width="200" height="200">
            </canvas>
        </div>

        <textarea id="generatedSql" readonly
                  style="height: 200px; width: 400px; position: relative; float: right; z-index: 2; resize: none"></textarea>

        <div id="sliders" style="position: relative; float: right; bottom: 702px; z-index: 11; left: 275px; margin-right: 18px">
            <div>
                <div class="slider">
                    <input type="checkbox" value="None" id="gridSlider" onclick="gridSlider()" name="check" checked/>
                    <label for="gridSlider"></label>
                </div>
                <a class="fas fa-th" style="font-size: 25px; position: absolute; left: 4px; color: #000000"></a>
            </div>
            <div>
                <div class="slider" style="margin-top: 31px;">
                    <input type="checkbox" value="None" id="rulerSlider" onclick="rulerSlider()" name="check" checked/>
                    <label for="rulerSlider"></label>
                </div>
                <a class="fas fa-ruler-combined fa-rotate-90"
                   style="font-size: 25px; position: absolute; left: 4px; margin-top: 31px; color: rgb(194,84,254)"></a>
            </div>
        </div>



        <div id="controls" style="position: relative; height: 150px;">
            <button class="fas fa-undo" onclick="onUndo()"
                    style="margin-left: 5px; margin-bottom: 2px; padding-top: 5px; height: 49px;">Cofnij
            </button>
            <button class="fas fa-redo" onclick="onRedo()"
                    style="margin-left: 5px; margin-bottom: 2px; padding-top: 5px; height: 49px;">Ponów
            </button>
            <button class="fas fa-table" id="btnCreateTable"
                    style="margin-left: 5px; margin-bottom: 2px; padding-top: 5px; height: 49px;">Dodaj tabelę
            </button>
            <button class="fas fa-trash-alt" id="btnDeleteTable"
                    style="margin-left: 5px;margin-bottom: 2px; padding-top: 5px; height: 49px;">Usuń tabelę
            </button>
            <button class="fas fa-plus" id="btnAddRow"
                    style="margin-left: 5px; margin-bottom: 2px; padding-top: 5px; height: 49px;">Dodaj wiersz
            </button>
            <button class="fas fa-minus" id="btnDeleteRow"
                    style="margin-left: 5px; margin-bottom: 2px; padding-top: 5px; height: 49px;">Usuń wiersz
            </button>
            <button class="fas fa-edit" id="btnRenameTable"
                    style="margin-left: 5px; margin-bottom: 2px; padding-top: 5px; height: 49px;">Zmień nazwę tabeli
            </button>
            <button class="fas fa-pen-square" id="btnEditRow"
                    style="margin-left: 5px; margin-bottom: 2px; padding-top: 5px; height: 49px;">Edytuj wiersz
            </button>
            <button class="fas fa-sitemap" id="btnInfo" style="margin-left: 5px; padding-top: 5px; height: 49px;">Connection
                info
            </button>
            <button class="fas fa-search" onclick="zoomToFit()" style="margin-left: 5px; padding-top: 5px; height: 49px;">
                Dopasuj powiększenie
            </button>
            <button class="fas fa-compress-arrows-alt" onclick="resizeToFitText()"
                    style="margin-left: 5px; padding-top: 5px; height: 49px;">Dopasuj tabele
            </button>
            <button class="fas fa-sitemap" onclick="resizeToFitLinks()"
                    style="margin-left: 5px; padding-top: 5px; height: 49px;">Dopasuj połączenia
            </button>
        </div>
    </div>












    <div id="addRow-dialog" title="Dodawanie nowego pola">
        <form>
            <fieldset>
                <input type="text" id="addRow-fieldName" placeholder="nazwa..."
                       class="text ui-widget-content ui-corner-all"/>
                <select id="addRow-fieldType">
                    <option>NUMBER</option>
                    <option>CHAR(32)</option>
                    <option>DATE</option>
                    <option>VARCHAR</option>
                    <option>BLOB</option>
                </select>
                <div class="divPK">
                    <input id="addRowPK" type="checkbox" class="checkbox_PK_UK_NN">
                    <label class="label_PK_UK_NN" for="addRowPK">PK</label>
                </div>
                <div class="divUK">
                    <input id="addRowUK" type="checkbox" class="checkbox_PK_UK_NN">
                    <label class="label_PK_UK_NN" for="addRowUK">UK</label>
                </div>
                <div class="divNN">
                    <input id="addRowNN" type="checkbox" class="checkbox_PK_UK_NN">
                    <label class="label_PK_UK_NN" for="addRowNN">NN</label>
                </div>
            </fieldset>
        </form>
    </div>
    <div id="editRow-dialog" title="Edycja pola">
        <form>
            <fieldset>
                <input type="text" id="editRow-fieldName" placeholder="nazwa pola"
                       class="text ui-widget-content ui-corner-all"/>
                <select id="editRow-fieldType">
                    <option>NUMBER</option>
                    <option>CHAR(32)</option>
                    <option>DATE</option>
                    <option>VARCHAR</option>
                    <option>BLOB</option>
                </select>
                <div class="divPK">
                    <input id="editRowPK" type="checkbox" class="checkbox_PK_UK_NN">
                    <label class="label_PK_UK_NN" for="addRowPK">PK</label>
                </div>
                <div class="divUK">
                    <input id="editRowUK" type="checkbox" class="checkbox_PK_UK_NN">
                    <label class="label_PK_UK_NN" for="addRowUK">UK</label>
                </div>
                <div class="divNN">
                    <input id="editRowNN" type="checkbox" class="checkbox_PK_UK_NN">
                    <label class="label_PK_UK_NN" for="addRowNN">NN</label>
                </div>
            </fieldset>
        </form>
    </div>
    <div id="renameTable-dialog" title="Zmiana nazwy tabeli">
        <form>
            <fieldset>
                <input type="text" id="renameTableCaption" placeholder="nazwa tabeli"
                       class="text ui-widget-content ui-corner-all"/>
            </fieldset>
        </form>
    </div>
    <div id="info-dialog" title="Connection Info">
        <p>
        </p>
    </div>



    <th:block th:include="fragments/diagramER/footerinc :: footer"/>
</div>
</body>
<footer>
</footer>
</html>


