<!doctype html>
<html lang="en"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Sidebar 09</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link href="diagramER/common/jquery-ui.min.css" rel="stylesheet" />
<!--    <link href="diagramER/common/samples.css" rel="stylesheet" />-->
<!--    <script type="text/javascript" src="diagramER/common/jquery.min.js"></script>
    <script type="text/javascript" src="diagramER/common/jquery-ui.min.js"></script>
    <script type="text/javascript" src="diagramER/common/samples.js"></script>-->


    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <link rel="stylesheet" href="sidebar/common/style.css">
</head>
<body>

<div class="wrapper d-flex align-items-stretch">
    <nav id="sidebar">
        <div class="custom-menu">
            <button type="button" id="sidebarCollapse" class="btn btn-primary">
            </button>
        </div>
        <div class="img bg-wrap text-center py-4" style="background-image: url(/static/sidebar/images/bg_1.jpg);">
            <div class="user-logo">
                <div class="img" style="background-image: url(/static/sidebar/images/logo.jpg);"></div>
                <!--<h3 sec:authentication="principal.username"></h3>-->
            </div>
        </div>
        <ul class="list-unstyled components mb-5">
            <li>
                <a href="#"><span class="fa fa-pencil-alt mr-3"></span> just draw!</a>
            </li>
            <li class="active">
                <a href="#"><span class="fa fa-database mr-3"></span> Menedżer baz danych</a>
            </li>
            <li>
                <a href="#"><span class="fa fa-project-diagram mr-3"></span> Menedżer diagramów ER</a>
            </li>
            <li>
                <a href="#"><span class="fa fa-folder-open mr-3"></span> Katalog diagramów ER</a>
            </li>
            <li>
                <a href="#"><span class="fa fa-terminal mr-3"></span> Interpreter SQL</a>
            </li>
            <li>
                <a href="#"><span class="fa fa-user mr-3"></span> Profil</a>
            </li>
            <li>
                <a href="#"><span class="fa fa-question-circle mr-3"></span> FAQ</a>
            </li>
            <li>
                <a href="#"><span class="fa fa-sign-out-alt mr-3"></span> Wyloguj</a>
            </li>
        </ul>

    </nav>

    <!-- Page Content  -->
    <div id="content" class="p-4 p-md-5 pt-5">


    </div>
</div>

<script src="sidebar/js/jquery.min.js" type="text/javascript"></script>
<script src="sidebar/js/popper.js" type="text/javascript"></script>
<script src="sidebar/js/bootstrap.min.js" type="text/javascript"></script>
<script src="sidebar/js/main.js" type="text/javascript"></script>

</body>
</html>