<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <th:block th:include="fragments/sidebar/headerinc :: head"/>
</head>
<body>
<div class="wrapper d-flex align-items-stretch">
    <nav id="sidebar">
        <div class="custom-menu">
            <button type="button" id="sidebarCollapse" class="btn btn-primary" onclick="refreshCanvas()">
            </button>
        </div>

        <div class="img bg-wrap text-center py-4" style="background-image: url(sidebar/images/bg_1.jpg);">
            <div class="user-logo">
                <div class="img" style="background-image: url(sidebar/images/logo.jpg);"></div>
                <h3>Anonymous</h3>
            </div>
        </div>
        <ul class="list-unstyled components mb-5">
                <li class="active">
                    <a href="#"><span class="fa fa-pencil-alt mr-3"></span> Rysuj diagram</a>
                </li>
                <li>
                    <a href="/login"><span class="fas fa-sign-in-alt mr-3"></span> Zaloguj</a>
                </li>
        </ul>
    </nav>
    <!-- Page Content  -->
    <div id="content" style="position: relative; background-color: #272c32; overflow: hidden">
        <th:block th:include="/fragments/diagramER/diagramER :: diagram"/>
    </div>
</div>
</body>
<footer>
    <th:block th:include="fragments/sidebar/footerinc :: footer"/>
</footer>

</html>