<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <th:block th:include="fragments/sidebar/headerinc :: head"/>
    <link rel="stylesheet" href="/static/sidebar/common/styleWithoutDiagram.css">
</head>
<body>
<div class="wrapper d-flex align-items-stretch">
    <nav id="sidebar">
        <div class="custom-menu">
            <button type="button" id="sidebarCollapse" class="btn btn-primary" onclick="refreshCanvas()">
            </button>
        </div>

        <div class="img bg-wrap text-center py-4" style="background-image: url(/static/sidebar/images/bg_1.jpg);">
            <div class="user-logo">
                <div class="img" style="background-image: url(/static/sidebar/images/logo.jpg);"></div>
                <h3 sec:authentication="principal.username"></h3>
            </div>
        </div>
        <ul class="list-unstyled components mb-5">
            <li >
                <a href="/customer/drawdiagram"><span class="fa fa-pencil-alt mr-3"></span> Rysuj diagram</a>
            </li>
            <li>
                <a href="/customer/schemasManagement"><span class="fa fa-database mr-3"></span> Menedżer schematów</a>
            </li>
            <li class="active">
                <a href="/customer/interpreterSQL"><span class="fa fa-terminal mr-3"></span> Interpreter SQL</a>
            </li>
            <li>
                <a th:href="@{/logout}"><span class="fa fa-sign-out-alt mr-3"></span> Wyloguj</a>
            </li>

        </ul>
    </nav>
    <!-- Page Content  -->
    <div id="content" style="position: relative; background-color: #272c32; overflow: hidden">
        <div th:replace="/customer/fragments/interpreterSQLFragment.html :: interpreterSQLFragment"></div>
    </div>
</div>
</body>
<footer>
    <th:block th:include="fragments/sidebar/footerinc :: footer"/>
</footer>

</html>