<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" >
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <link rel="stylesheet" href="/static/sidebar/common/style.css">

    <script type="text/javascript" src="/static/diagramER/jQuery/jquery.min.js"></script>
    <script type="text/javascript" src="/static/diagramER/jQuery/jquery-ui.min.js"></script>
    <link href="/static/diagramER/jQuery/jquery-ui.min.css" rel="stylesheet"/>

    <script src="/static/sidebar/js/jquery.min.js" type="text/javascript"></script>
</head>
</html>