<div th:fragment="adduserFragment" xmlns:th="http://www.w3.org/1999/xhtml">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<div class="container-fluid" style="padding: 0">
		<div class="row col-lg-4 col-lg-offset-4" style="margin-top: 60px; margin-left: 60px; background-color: #32373d; padding: 20px; padding-top: 12px;">
			<form autocomplete="off" action="#" th:action="@{/adduser/add}" th:object="${users}" method="post" class="form-signin" role="form" style="color: #e1e6ec; padding-top: 20px;">
				<div class="form-group">
					<div class="">
						<input type="text" th:field="*{firstName}" placeholder="Imie" class="form-control" style="width: 498px; background: #2d3238; color: #e1e6ec;"/>
					</div>
				</div>
				<div class="form-group">
					<div class="">
						<input type="text" th:field="*{lastName}" placeholder="Nazwisko" class="form-control" style="width: 498px; background: #2d3238; color: #e1e6ec;"/>
					</div>
				</div>
				<div class="form-group">
					<div class="">
						<input type="text" th:field="*{email}" placeholder="Email" class="form-control" style="width: 498px; background: #2d3238; color: #e1e6ec;"/>
					</div>
				</div>
				<div class="form-group">
					<div class="">
						<input type="password" th:field="*{password}" placeholder="Hasło" class="form-control" style="width: 498px; background: #2d3238; color: #e1e6ec;"/>
					</div>
				</div>
				<div class="form-group">
					<div class="">
						<button type="submit" class="btn btn-primary btn-block" style="width: 498px; background: #282c31; color: #e1e6ec; border: 0">Rejestruj użytkownika</button>
					</div>
				</div>
				<span th:utext="${successMessage}"></span>
				<div class="alert alert-success alert-dismissible col-sm-12"
					 th:if="${(bindingResult != null && bindingResult.getAllErrors() != null)}" style="background-color: #1f2227; border: 0; color: white;">
					<button type="button" class="close" data-dismiss="alert"
							aria-hidden="true">×</button>
					<ul th:each="data : ${bindingResult.getAllErrors()}" style="padding-top: 5px">
						<li th:text="${data.getObjectName() + ' :: ' + data.getDefaultMessage()}"></li>
					</ul>
				</div>
			</form>
		</div>
	</div>
</div>
