<div th:fragment="edituserFragment" class="container my-5" xmlns:th="http://www.w3.org/1999/xhtml">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <div class="card" style=" background: #32373d; width: 448px; right: 195px; top: 12px; border: 0; border-radius: 0">
        <div class="card-body">
            <div class="col-md-10">
                <form action="#" th:action="@{/admin/createUser}" th:object="${users}"
                      method="post">
                    <div class="row" style="width: 600px" >
                        <div class="form-group col-md-8">
                            <label for="firstName" class="col-form-label">Imie</label>
                            <input type="text" th:field="*{firstName}" class="form-control"
                                   id="firstName" placeholder="Imie" style="background: #2d3238; color: #e1e6ec;"/>
                        </div>
                        <div class="form-group col-md-8">
                            <label for="lastName" class="col-form-label">Nazwisko</label>
                            <input type="text" th:field="*{lastName}" class="form-control"
                                   id="lastName" placeholder="Nazwisko" style="background: #2d3238; color: #e1e6ec;"/>
                        </div>
                        <div class="form-group col-md-8">
                            <label for="email" class="col-form-label">Email</label>
                            <input type="text" th:field="*{email}" class="form-control"
                                   id="email" placeholder="Email" style="background: #2d3238; color: #e1e6ec;"/>
                        </div>
                        <div class="form-group col-md-8">
                            <label for="password" class="col-form-label">Hasło</label>
                            <input type="text" th:field="*{password}" class="form-control"
                                   id="password" placeholder="Hasło" style="background: #2d3238; color: #e1e6ec;"/>
                        </div>

                        <div class="col-md-6" style="left: 261px;">
                            <input type="submit" class="btn btn-primary" value=" Zatwierdź " style="background: #282c31; border: 0;">
                        </div>

                        <input type="hidden" id="id" th:field="*{id}">

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>