<div th:fragment="interpreterSQLFragment" xmlns:th="http://www.w3.org/1999/xhtml" style="position: relative;
    width: 100%;
    height: 100%;">
    <link rel="stylesheet" href="/static/sidebar/common/interpreter.css">

    <button id="interpreterSubmit" type="submit" onclick="executeSQL('interpreterSQL')"><i class="fas fa-bolt"></i>Wykonaj</button>
    <textarea id="interpreterSQL" ></textarea>
    <img id="oracle_watermark" src="static/sidebar/oracle_watermark.png">
    <textarea id="queryHandler" readonly></textarea>
    <textarea id="errorsHandler" readonly></textarea>
</div>